.form {

  .mat-mdc-form-field {
    font-size: 14px;
  }

  table {
    width: 100%;

    th.mat-mdc-header-cell {
      color: rgb(22, 22, 207);
      padding: 8px;
    }

    td.mat-mdc-cell {
      color: rgb(9, 9, 82);
      padding: 8px;
    }
  }

}

