mat-card {
	width: 300px;
	margin-left: 4px;

	.projectForm {
		padding-bottom: 8px;
	}

	mat-form-field.mat-form-field {
		width: 100%;
	}

	.saveBtn {
		margin-right: 8px;
	}

	.createdit-form-status {
		padding: 4px 0 0 4px;
		color: blue;
	}
}
