body {
  background-color: rgb(187, 222, 238);
  color: rgb(187, 222, 238);
}

.container {
  display: flex;
  flex-direction: column;
}

// .left {
//   background-color: lightgray;
// }

// .right {
//   background-color: beige;
// }
