<main class="container mat-app-background">
	<mat-toolbar color="primary">
		Angular MatTable CRUD
    <div class="flex-stretch"></div>
    <app-svg-sun class="mt"></app-svg-sun>
    <mat-slide-toggle [formControl]="toggleControl" class="mr-8" color="warn">
    </mat-slide-toggle>
    <app-svg-moon class="mt"></app-svg-moon>
	</mat-toolbar>

	<div  fxLayout.gt-sm="row" fxLayout.lt-sm="column" fxLayoutGap="16px">
		<div
			fxFlex.gt-sm="40%"
			fxFlex.lt-sm="100%"
			fxLayoutAlign="center center"
			class="left"
		>
			<app-createdit-project></app-createdit-project>
		</div>
		<div
			fxFlex.gt-sm="60%"
			fxFlex.lt-sm="100%"
			fxLayoutAlign="center center"
			class="right"
		>
			<app-list-projects></app-list-projects>
		</div>
	</div>
</main>
